.hero-section {
  background: linear-gradient(135deg, #6610f2 0%, #4a148c 100%);
  padding: 8rem 0 4rem 0;
  margin-bottom: 0;
}

.min-vh-50 {
  min-height: 50vh;
}

.services-section {
  background-color: #f8f9fa;
}

h2 {
  color: #333;
  font-weight: 600;
}

h1.lenguajes-title {
  font-size: 4rem;
  font-weight: 700;
  color: #333;
  transition: color 0.3s ease;
  margin: 0.75rem;
}

h1.lenguajes-title:hover {
  color: #6610f2;
}